<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="NetworkMonitoring" value="vEthernet (LAN)" />
	<add key="DataUpdateIntervalMinutes" value="5" />

	<add key="IpTahiont" value="192.168.88.20" />
	<add key="IpCA" value="192.168.88.30" />
	  
	<add key="TrafficLightType" value="inode" />
	<add key="TrafficLightRequestIntervalSeconds" value="10" />
	<add key="TrafficLightSignalBrokenMinutes" value="5" />
  </appSettings>
</configuration>